# Wholesaler Database

### Connect to DB

In [125]:
from sqlalchemy import create_engine, inspect, text, insert,Table, Column, Integer, String, Numeric, MetaData, ForeignKey, Date
from sqlalchemy.engine import url
import configparser
import os

In [3]:
mysqlcfg = configparser.ConfigParser()
mysqlcfg.read("/home/jovyan/Databases/mysql.cfg")
user, passwd = mysqlcfg['mysql']['user'], mysqlcfg['mysql']['passwd']
dburl = f"mysql://{user}:{passwd}@applied-sql.cs.colorado.edu:3306/matu8568"
os.environ['DATABASE_URL'] = dburl  # define this env. var for sqlmagic
#engine = create_engine(dburl)

In [105]:
with create_engine(dburl).connect() as conn:
    inspector = inspect(conn)
    table_names = inspector.get_table_names()
    print(table_names)

['Class', 'ClassGrade', 'Department', 'Employee', 'Game', 'Items', 'Orders', 'ParentNotification', 'Play', 'Player', 'Purchasers', 'Sales', 'Student', 'SupplierPrices', 'Suppliers', 'Team', 'bars', 'roads', 'states', 'windmills']

### Create Tables with SQLAlchemy

In [104]:
with create_engine(dburl).connect() as conn:
    metadata_obj = MetaData()
    Suppliers = Table(
                    "Suppliers",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("Name", String(50)),
                        Column("Balance", Numeric)
                        )

    Items = Table(
                        "Items",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("Name", String(50)),
                        Column("SalePrice", Numeric),
                        Column("PriorInventory", Integer)
                        )

    Purchasers = Table(
                        "Purchasers",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("Name", String(50)),
                        Column("Balance", Numeric),
                        )

    SupplierPrices = Table(
                        "SupplierPrices",
                        metadata_obj,
                        Column("SupplierID", Integer, ForeignKey("Suppliers.id"), primary_key=True),
                        Column("ItemID", Integer, ForeignKey("Items.id"), primary_key=True),
                        Column("SupplierPrice", Numeric)
                        )

    Sales = Table(
                        "Sales",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("PurchaserID", Integer, ForeignKey("Purchasers.id")),
                        Column("ItemID", Integer, ForeignKey("Items.id")),
                        Column("Quantity", Integer),
                        Column("TotalSalePrice", Numeric),
                        Column("InvoiceDate", Date),
                        Column("PayDate", Date),
                        Column("SaleDate", Date),
                        Column("ShipDate", Date)
                        )

    Orders = Table(
                        "Orders",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("SupplierID", Integer, ForeignKey("Suppliers.id")),
                        Column("ItemID", Integer, ForeignKey("Items.id")),
                        Column("Quantity", Integer),
                        Column("TotalOrderPrice", Numeric),
                        Column("InvoiceDate", Date),
                        Column("PayDate", Date),
                        Column("OrderDate", Date),
                        Column("RecieveDate", Date)
                        )

    metadata_obj.create_all(conn)

### Insert Data with SQLAlchemy

In [138]:
import pandas as pd
import numpy as np

# Will read from csv for final data load
suppliers_lst = np.array([('Supplier 1', 0), ('Suppliger 2', 0), ('Supplier 3', 0)],dtype=[('Name','U50'),('Balance',float)])
items_lst = np.array([('Item 1', 5000, 0),('Item 2', 2500, 0), ('Item 3', 5000, 0)],dtype=[('Name','U50'),('SalePrice',float),('PriorInventory',int)])
purchasers_lst = np.array([('Purchaser 1', 0), ('Purchaser 2', 0), ('Purchaser 3', 0)],dtype=[('Name','U50'),('Balance',float)])

df_suppliers = pd.DataFrame.from_records(suppliers_lst)
suppliers_dicts = df_suppliers.to_dict('records') #can change which way output is converted to dict with input field i.e. 'records' vs 'list'

df_items = pd.DataFrame.from_records(items_lst)
items_dicts = df_items.to_dict('records')

df_purchasers = pd.DataFrame.from_records(purchasers_lst)
purchasers_dicts = df_purchasers.to_dict('records')

In [139]:
with create_engine(dburl).connect() as conn:
    result = conn.execute(insert(Suppliers),suppliers_dicts)

In [140]:
with create_engine(dburl).connect() as conn:
    result2 = conn.execute(insert(Items),items_dicts)
    result3 = conn.execute(insert(Purchasers),purchasers_dicts)

### Drop Tables if Needed

In [84]:
drop_table_string = '''
                    SET foreign_key_checks = 0;
                    DROP TABLE IF EXISTS Suppliers;
                    DROP TABLE IF EXISTS Items;
                    DROP TABLE IF EXISTS Purchasers;
                    DROP TABLE IF EXISTS SupplierPrices;
                    DROP TABLE IF EXISTS Sales;
                    DROP TABLE IF EXISTS Orders;
                    SET foreign_key_checks = 0;
                    '''

In [93]:
with create_engine(dburl).connect() as conn:
    # Execute strings here
    conn.execute(drop_table_string)