# Wholesaler Database Creation

## Database Setup

### Connect to DB

In [1]:
from sqlalchemy import create_engine, inspect, text, insert,Table, Column, Integer, String, Boolean
from sqlalchemy import Numeric, MetaData, ForeignKey, Date, select, func, join,delete
from sqlalchemy.engine import url
import configparser
import os

In [2]:
mysqlcfg = configparser.ConfigParser()
mysqlcfg.read("/home/jovyan/Databases/mysql.cfg")
user, passwd = mysqlcfg['mysql']['user'], mysqlcfg['mysql']['passwd']
dburl = f"mysql://{user}:{passwd}@applied-sql.cs.colorado.edu:3306/matu8568"
os.environ['DATABASE_URL'] = dburl  # define this env. var for sqlmagic
#engine = create_engine(dburl)
print(dburl)

mysql://matu8568:cf985dc2dd76c6f3e86c@applied-sql.cs.colorado.edu:3306/matu8568

In [3]:
# Load the sql magic 
# Get the MySQL version number to verify we are connected
#
%reload_ext sql
print ("get version...")
%sql SELECT version()

get version...
1 rows affected.

[('8.0.27',)]

In [4]:
with create_engine(dburl).connect() as conn:
    inspector = inspect(conn)
    table_names = inspector.get_table_names()
    print(table_names)

['Class', 'ClassGrade', 'Department', 'Employee', 'Game', 'Items', 'Orders', 'ParentNotification', 'Play', 'Player', 'Purchasers', 'Sales', 'Student', 'SupplierPrices', 'Suppliers', 'Team', 'Trigger_Table', 'Update', 'bars', 'roads', 'states', 'windmills']

### Drop Tables if Needed

In [394]:
drop_table_string = '''
                    SET foreign_key_checks = 0;
                    DROP TABLE IF EXISTS Suppliers;
                    DROP TABLE IF EXISTS Items;
                    DROP TABLE IF EXISTS Purchasers;
                    DROP TABLE IF EXISTS SupplierPrices;
                    DROP TABLE IF EXISTS Sales;
                    DROP TABLE IF EXISTS Orders;
                    DROP TABLE IF EXISTS Trigger_Table;
                    SET foreign_key_checks = 1;
                    '''

In [395]:
with create_engine(dburl).connect() as conn:
    # Execute strings here
    conn.execute(drop_table_string)

### Create Tables with SQLAlchemy Core

In [396]:
with create_engine(dburl).connect() as conn:
    metadata_obj = MetaData()
    #### Parameters to Add in Columns ####
    # onupdate="CASCADE", ondelete="CASCADE"
    
    # table level CHECK constraint.  'name' is optional.
    # CheckConstraint("col2 > col3 + 5", name="check1")
    
    Suppliers = Table(
                    "Suppliers",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("Name", String(50)),
                        Column("Balance", Numeric)
                        )

    Items = Table(
                        "Items",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("Name", String(50)),
                        Column("SalePrice", Numeric),
                        Column("ShippingDays", Integer),
                        Column("PriorInventory", Integer)
                        )

    Purchasers = Table(
                        "Purchasers",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("Name", String(50)),
                        Column("Balance", Numeric),
                        )

    SupplierPrices = Table(
                        "SupplierPrices",
                        metadata_obj, 
                        Column("SupplierID", Integer, ForeignKey("Suppliers.id", onupdate="CASCADE",ondelete="CASCADE"), primary_key=True),  
                        Column("ItemID", Integer, ForeignKey("Items.id", onupdate="CASCADE", ondelete="CASCADE"), primary_key=True),
                        Column("SupplierPrice", Numeric),
                        Column("ShippingDays", Integer),
                        )

    Sales = Table(
                        "Sales",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("PurchaserID", Integer, ForeignKey("Purchasers.id", onupdate="CASCADE", ondelete="SET NULL")),
                        Column("ItemID", Integer, ForeignKey("Items.id", onupdate="CASCADE", ondelete="SET NULL")),
                        Column("Quantity", Integer),
                        Column("TotalSalePrice", Numeric),
                        Column("InvoiceDate", Date),
                        Column("PayDate", Date),
                        Column("SaleDate", Date),
                        Column("ShipDate", Date),
                        Column("AutoOrder", Integer)
                        )

    Orders = Table(
                        "Orders",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("SupplierID", Integer, ForeignKey("Suppliers.id", ondelete="SET NULL")),
                        Column("ItemID", Integer, ForeignKey("Items.id", ondelete="SET NULL")),
                        Column("Quantity", Integer),
                        Column("TotalOrderPrice", Numeric),
                        Column("InvoiceDate", Date),
                        Column("PayDate", Date),
                        Column("OrderDate", Date),
                        Column("RecieveDate", Date),
                        Column("AutoOrder", Integer)
                        )
    
    Trigger_Table = Table(
                    "Trigger_Table",
                    metadata_obj,
                    Column("id", Integer, primary_key=True),
                    Column("ItemID", Integer, ForeignKey("Items.id", ondelete="SET NULL")),
                    Column("SaleID", Integer, ForeignKey("Sales.id", ondelete="SET NULL")),
                    Column("OrderID", Integer, ForeignKey("Orders.id", ondelete="SET NULL")),
                    Column("Quantity", Integer),
                    Column("SaleDate", Date),
                    Column("OrderDate", Date),
                    )

    metadata_obj.create_all(conn)

### Insert Test Data with SQLAlchemy Core

In [397]:
import pandas as pd
import numpy as np

# Load data from .csv
df_items = pd.read_csv('./data_files/test_data/Item_Import.csv')
items_dict = df_items.to_dict('records')
#print(items_dict)

df_sales = pd.read_csv('./data_files/test_data/Sales_Import.csv')
sales_dict = df_sales.to_dict('records')
#print(sales_dict)

df_orders = pd.read_csv('./data_files/test_data/Order_Import.csv')
orders_dict = df_orders.to_dict('records')
#print(orders_dict)

df_orders.head()

,SupplierID,ItemID,Quantity,TotalOrderPrice,InvoiceDate,PayDate,OrderDate,RecieveDate,AutoOrder
0,1,1,50,12000,2023-04-01,2023-04-08,2023-04-01,2023-04-15,0
1,2,2,50,6000,2023-04-01,2023-04-08,2023-04-01,2023-04-15,0
2,1,3,50,7200,2023-04-01,2023-04-08,2023-04-01,2023-04-15,0
3,3,3,50,7200,2023-04-15,2023-04-22,2023-04-15,2023-04-29,0

In [398]:
suppliers_lst = np.array([('Supplier 1', 0), ('Supplier 2', 0), ('Supplier 3', 0)],dtype=[('Name','U50'),('Balance',float)])

purchasers_lst = np.array([('Purchaser 1', 0), ('Purchaser 2', 0), ('Purchaser 3', 0)],dtype=[('Name','U50'),('Balance',float)])

df_suppliers = pd.DataFrame.from_records(suppliers_lst)
suppliers_dict = df_suppliers.to_dict('records') #can change which way output is converted to dict with input field i.e. 'records' vs 'list'

df_purchasers = pd.DataFrame.from_records(purchasers_lst)
purchasers_dict = df_purchasers.to_dict('records')

In [399]:
with create_engine(dburl).connect() as conn:
    result = conn.execute(insert(Suppliers),suppliers_dict)
    result2 = conn.execute(insert(Items),items_dict)
    result3 = conn.execute(insert(Purchasers),purchasers_dict)
    result4 = conn.execute(insert(Sales),sales_dict)
    result5 = conn.execute(insert(Orders),orders_dict)
    result6 = conn.execute("INSERT INTO SupplierPrices VALUES (1,1,2000,14),(2,1,2200,14),(3,1,2400,14), (1,2,5000,14), (2,2,5500,14), (1,3, 1000,14), (3,3, 1200,14)")

### Display Table Contents

In [400]:
with create_engine(dburl).connect() as conn:
    items = conn.execute(select(Items))
    suppliers = conn.execute(select(Suppliers))
    supplierPrices = conn.execute(select(SupplierPrices))
    purchasers = conn.execute(select(Purchasers))
    sales = conn.execute(select(Sales))
    orders = conn.execute(select(Orders))
    tt = conn.execute(select(Trigger_Table))
    print("Items")
    for item in items:
        print(item)
    print("Suppliers")
    for supplier in suppliers:
        print(supplier)
    print("SupplierPrices")
    for supplierPrice in supplierPrices:
        print(supplierPrice)
    print("Purchasers")
    for purchaser in purchasers:
        print(purchaser)
    print("Sales")
    for sale in sales:
        print(sale)
    print("Orders")
    for order in orders:
        print(order)

Items
(1, 'Item 1', Decimal('5000'), 7, 10)
(2, 'Item 2', Decimal('2500'), 7, 15)
(3, 'Item 3', Decimal('3000'), 7, 5)
Suppliers
(1, 'Supplier 1', Decimal('0'))
(2, 'Supplier 2', Decimal('0'))
(3, 'Supplier 3', Decimal('0'))
SupplierPrices
(1, 1, Decimal('2000'), 14)
(1, 2, Decimal('5000'), 14)
(1, 3, Decimal('1000'), 14)
(2, 1, Decimal('2200'), 14)
(2, 2, Decimal('5500'), 14)
(3, 1, Decimal('2400'), 14)
(3, 3, Decimal('1200'), 14)
Purchasers
(1, 'Purchaser 1', Decimal('0'))
(2, 'Purchaser 2', Decimal('0'))
(3, 'Purchaser 3', Decimal('0'))
Sales
(1, 1, 1, 3, Decimal('15000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(2, 2, 2, 3, Decimal('7500'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(3, 1, 3, 3, Decimal('9000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(4, 3, 3, 3, Decimal('9000'), datetime.date(2023, 4, 15), datetime.date(2023, 4, 22), datetime.date(2023, 4, 15), datetime.date(2023, 5, 1), 0)
Orders
(1, 1, 1, 50, Decimal('12000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(2, 2, 2, 50, Decimal('6000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(3, 1, 3, 50, Decimal('7200'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(4, 3, 3, 50, Decimal('7200'), datetime.date(2023, 4, 15), datetime.date(2023, 4, 22), datetime.date(2023, 4, 15), datetime.date(2023, 4, 29), 0)

## CREATE PROCEDURES

Order Procedure

* Call procedure using ItemID, Quantity, OrderDate and lookup prices and shipping time from SupplierPrices and INSERT INTO Order

Sale Procedure

* Call procedure using ItemID, Quantity, SaleDate 
    * Check if there is enough inventory for order
        * If yes, lookup prices and shipping time from SupplierPrices to INSERT INTO Sales
        * If no, create order for requested item and push shipping date after order will arrive to fulfill sale

In [401]:
## Business Logic Variables
DAYS_TO_SHIP = 7
DAYS_TO_INVOICE = 0
DAYS_TO_PAY = 14
SAFETY_STOCK = 20
SALE_VELOCITY = 20

In [402]:
# Insert Sale & Order Data
# Setting InvoiceDate = Sale/Order Date

order_procedure_string = '''
                                    CREATE PROCEDURE insert_order(orderItemID INT, orderQuantity INT, orderDate DATE, saleAutoOrder INT)
                                        BEGIN
                                        INSERT INTO Orders(SupplierID, ItemID, Quantity, TotalOrderPrice, InvoiceDate, OrderDate, RecieveDate, AutoOrder) 
                                            VALUES ((SELECT SupplierID 
                                                                    FROM SupplierPrices
                                                                    WHERE SupplierPrice = (SELECT MIN(SupplierPrice)
                                                                                            FROM SupplierPrices
                                                                                            WHERE ItemID = orderItemID
                                                                                            GROUP BY ItemID)
                                                                    LIMIT 1),
                                                    orderItemID,
                                                    orderQuantity,
                                                    orderQuantity * (SELECT MIN(SupplierPrice)
                                                                                            FROM SupplierPrices
                                                                                            WHERE ItemID = orderItemID
                                                                                            GROUP BY ItemID),
                                                    orderDate,
                                                    orderDate,
                                                    ADDDATE(orderDate, (SELECT ShippingDays 
                                                                    FROM SupplierPrices
                                                                    WHERE SupplierPrice = (SELECT MIN(SupplierPrice)
                                                                                            FROM SupplierPrices
                                                                                            WHERE ItemID = orderItemID
                                                                                            GROUP BY ItemID)
                                                                    LIMIT 1)),
                                                    saleAutoOrder);
                                        END;
                                '''

sale_procedure_string = '''
                                    CREATE PROCEDURE insert_sale(salePurchaserID INT, saleItemID INT, saleQuantity INT, saleDate DATE, daysToShip INT)
                                        BEGIN
                                            IF saleQuantity > (SELECT Items.PriorInventory + ItemQuant.orderTotal - ItemQuant.saleTotal
                                                                FROM Items
                                                                JOIN (SELECT totalSales.ItemID, totalSales.saleTotal, priorOrders.orderTotal  
                                                                    FROM (SELECT ItemID, SUM(Quantity) saleTotal FROM Sales GROUP BY ItemID) as totalSales
                                                                    JOIN (SELECT ItemID, SUM(Quantity) as orderTotal FROM Orders WHERE Orders.RecieveDate < saleDate GROUP BY ItemID) as priorOrders
                                                                    ON totalSales.ItemID = priorOrders.ItemID) as ItemQuant
                                                                ON Items.id = ItemQuant.ItemID
                                                                WHERE Items.id = saleItemID)
                                                THEN 
                                                    BEGIN
                                                        CALL insert_order(saleItemID, saleQuantity, saleDate, 999);
                                                        INSERT INTO Sales(PurchaserID, ItemID, Quantity, TotalSalePrice, InvoiceDate, SaleDate, ShipDate) 
                                                            VALUES (salePurchaserID,
                                                                    saleItemID,
                                                                    saleQuantity,
                                                                    saleQuantity * (SELECT SalePrice FROM Items WHERE id = saleItemID),
                                                                    saleDate,
                                                                    saleDate,
                                                                    ADDDATE(saleDate, daysToShip + (SELECT ShippingDays 
                                                                                                FROM SupplierPrices
                                                                                                WHERE SupplierPrice = (SELECT MIN(SupplierPrice)
                                                                                                                        FROM SupplierPrices
                                                                                                                        WHERE ItemID = saleItemID
                                                                                                                        GROUP BY ItemID)
                                                                                                LIMIT 1)));
                                                    END;
                                                ELSE
                                                    INSERT INTO Sales(PurchaserID, ItemID, Quantity, TotalSalePrice, InvoiceDate, SaleDate, ShipDate) 
                                                            VALUES (salePurchaserID,
                                                                    saleItemID,
                                                                    saleQuantity,
                                                                    saleQuantity * (SELECT SalePrice FROM Items WHERE id = saleItemID),
                                                                    saleDate,
                                                                    saleDate,
                                                                    ADDDATE(saleDate, daysToShip));
                                            END IF;
                                        END;
                                '''

In [403]:
with create_engine(dburl).connect() as conn:
    # Execute strings here
    conn.execute("DROP PROCEDURE IF EXISTS insert_sale;")
    conn.execute("DROP PROCEDURE IF EXISTS insert_order;")
    conn.execute(sale_procedure_string)
    conn.execute(order_procedure_string)

## CREATE TRIGGERS

* Trigger New Order if Inventory after new Sale < Safety Stock + Sale Velocity

In [404]:
# Drop All Triggers If Needed
with create_engine(dburl).connect() as conn:
    conn.execute("DROP TRIGGER IF EXISTS min_inventory_trigger;")

In [405]:
# Order to return stock to Safety Stock + expected sale velocity
min_inventory_trigger_string = '''
                        CREATE TRIGGER min_inventory_trigger
                        AFTER INSERT ON Sales
                        FOR EACH ROW
                        BEGIN
                            IF ((SELECT Items.PriorInventory + ItemQuant.orderTotal - ItemQuant.saleTotal
                                    FROM Items
                                    JOIN (SELECT totalSales.ItemID, totalSales.saleTotal, priorOrders.orderTotal  
                                        FROM (SELECT ItemID, SUM(Quantity) saleTotal FROM Sales GROUP BY ItemID) as totalSales
                                        JOIN (SELECT ItemID, SUM(Quantity) as orderTotal FROM Orders WHERE Orders.RecieveDate < NEW.SaleDate GROUP BY ItemID) as priorOrders
                                        ON totalSales.ItemID = priorOrders.ItemID) as ItemQuant
                                    ON Items.id = ItemQuant.ItemID
                                    WHERE Items.id = NEW.ItemID) < %s 
                                AND
                                (SELECT Items.PriorInventory + ItemQuant.orderTotal - ItemQuant.saleTotal
                                    FROM Items
                                    JOIN (SELECT totalSales.ItemID, totalSales.saleTotal, priorOrders.orderTotal  
                                        FROM (SELECT ItemID, SUM(Quantity) saleTotal FROM Sales GROUP BY ItemID) as totalSales
                                        JOIN (SELECT ItemID, SUM(Quantity) as orderTotal FROM Orders WHERE Orders.RecieveDate < NEW.SaleDate GROUP BY ItemID) as priorOrders
                                        ON totalSales.ItemID = priorOrders.ItemID) as ItemQuant
                                    ON Items.id = ItemQuant.ItemID
                                    WHERE Items.id = NEW.ItemID) > 0)
                                THEN 
                                    BEGIN
                                         CALL insert_order(NEW.ItemID, %s + %s - (SELECT Items.PriorInventory + ItemQuant.orderTotal - ItemQuant.saleTotal
                                                                                    FROM Items
                                                                                    JOIN (SELECT totalSales.ItemID, totalSales.saleTotal, priorOrders.orderTotal  
                                                                                        FROM (SELECT ItemID, SUM(Quantity) saleTotal FROM Sales GROUP BY ItemID) as totalSales
                                                                                        JOIN (SELECT ItemID, SUM(Quantity) as orderTotal FROM Orders WHERE Orders.RecieveDate < NEW.SaleDate GROUP BY ItemID) as priorOrders
                                                                                        ON totalSales.ItemID = priorOrders.ItemID) as ItemQuant
                                                                                    ON Items.id = ItemQuant.ItemID
                                                                                    WHERE Items.id = NEW.ItemID),
                                                             NEW.SaleDate, NEW.id);

                                    END;
                                
                            END IF;
                        END;
                      '''


with create_engine(dburl).connect() as conn:
    # Execute strings here
    # CALL no_inventory_procedure(NEW.id,NEW.ItemID, NEW.Quantity, NEW.SaleDate);
    conn.execute("DROP TRIGGER IF EXISTS min_inventory_trigger;")
    conn.execute(min_inventory_trigger_string, (SAFETY_STOCK, SAFETY_STOCK, SALE_VELOCITY))

## Diagnostic Queries

In [406]:
# Inventory Query at time of Sale
saleDate = '2023-06-01'
itemID = 2
inventory_trigger_string = '''
                            SELECT SUM(Items.PriorInventory + ItemQuant.NetInv)
                            FROM Items
                            JOIN (SELECT Sales.ItemID, SUM(Orders.Quantity - Sales.Quantity) as NetInv
                                    FROM Sales
                                    JOIN Orders ON Sales.ItemID = Orders.ItemID
                                    GROUP BY Sales.ItemID) as ItemQuant
                            ON Items.id = ItemQuant.ItemID
                            WHERE Items.id = 3
                           '''
inventory_trigger_string = '''
                            SELECT Items.id, Items.PriorInventory + ItemQuant.orderTotal - ItemQuant.saleTotal
                            FROM Items
                            JOIN (SELECT totalSales.ItemID, totalSales.saleTotal, priorOrders.orderTotal  
                                FROM (SELECT ItemID, SUM(Quantity) saleTotal FROM Sales GROUP BY ItemID) as totalSales
                                JOIN (SELECT ItemID, SUM(Quantity) as orderTotal FROM Orders WHERE Orders.RecieveDate < %s GROUP BY ItemID) as priorOrders
                                ON totalSales.ItemID = priorOrders.ItemID) as ItemQuant
                            ON Items.id = ItemQuant.ItemID
                           '''
with create_engine(dburl).connect() as conn:
    # Execute strings here
    results = conn.execute(inventory_trigger_string, (saleDate,)) 
    for result in results:
        print("(ItemID, Inventory):" , result)

(ItemID, Inventory): (1, Decimal('57'))
(ItemID, Inventory): (2, Decimal('62'))
(ItemID, Inventory): (3, Decimal('99'))

In [66]:
min_price_string = '''
                            SELECT ItemID, MIN(SupplierPrice)
                            FROM SupplierPrices
                            WHERE ItemID = 1
                            GROUP BY ItemID
                            
                           '''

min_price_supplier_string = '''
                            SELECT SupplierID 
                            FROM SupplierPrices
                            WHERE SupplierPrice = (SELECT MIN(SupplierPrice)
                                                    FROM SupplierPrices
                                                    WHERE ItemID = 1
                                                    GROUP BY ItemID)
                            LIMIT 1
                           '''

with create_engine(dburl).connect() as conn:
    # Execute strings here
    #conn.execute("INSERT INTO SupplierPrices VALUES (1,1,2000,14),(2,1,2200,14),(3,1,2000,14), (1,2,5000,14)")
    results = conn.execute(min_price_string)
    for result in results:
        print(result)
    results = conn.execute(min_price_supplier_string)
    for result in results:
        print(result)

(1, Decimal('2000'))
(1,)

## Table Constraint Testing

* SupplierPrices table should CASCADE deltions from Items & Suppliers
* Sales and Orders tables should SET NULL ItemID, SupplierID, PurchaserID fields upon deltion from parent tables

In [195]:
########## Test Table Constraints ##########

with create_engine(dburl).connect() as conn:
    items = conn.execute(select(Items))
    suppliers = conn.execute(select(Suppliers))
    supplierPrices = conn.execute(select(SupplierPrices))
    purchasers = conn.execute(select(Purchasers))
    sales = conn.execute(select(Sales))
    orders = conn.execute(select(Orders))
    print("Items")
    for item in items:
        print(item)
    print("Suppliers")
    for supplier in suppliers:
        print(supplier)
    print("SupplierPrices")
    for supplierPrice in supplierPrices:
        print(supplierPrice)
    print("Purchasers")
    for purchaser in purchasers:
        print(purchaser)
    print("Sales")
    for sale in sales:
        print(sale)
    print("Orders")
    for order in orders:
        print(order)

Items
(1, 'Item 1', Decimal('5000'), None, 10)
(2, 'Item 2', Decimal('2500'), None, 15)
(3, 'Item 3', Decimal('3000'), None, 5)
Suppliers
(1, 'Supplier 1', Decimal('0'))
(2, 'Supplier 2', Decimal('0'))
(3, 'Supplier 3', Decimal('0'))
SupplierPrices
(1, 1, Decimal('2000'), 14)
(1, 2, Decimal('5000'), 14)
(1, 3, Decimal('1000'), 14)
(2, 1, Decimal('2200'), 14)
(2, 2, Decimal('5500'), 14)
(3, 1, Decimal('2400'), 14)
(3, 3, Decimal('1200'), 14)
Purchasers
(1, 'Purchaser 1', Decimal('0'))
(2, 'Purchaser 2', Decimal('0'))
(3, 'Purchaser 3', Decimal('0'))
Sales
(1, 1, 1, 3, Decimal('15000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(2, 2, 2, 3, Decimal('7500'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(3, 1, 3, 3, Decimal('9000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(4, 3, 3, 3, Decimal('9000'), datetime.date(2023, 4, 15), datetime.date(2023, 4, 22), datetime.date(2023, 4, 15), datetime.date(2023, 5, 1), 0)
Orders
(1, 1, 1, 3, Decimal('12000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(2, 2, 2, 3, Decimal('6000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(3, 1, 3, 3, Decimal('7200'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(4, 3, 3, 3, Decimal('7200'), datetime.date(2023, 4, 15), datetime.date(2023, 4, 22), datetime.date(2023, 4, 15), datetime.date(2023, 4, 29), 0)

ON DELETE SET NULL working successfully for Item deletions in Suppliers and Prices

In [196]:
with create_engine(dburl).connect() as conn:
    conn.execute("DELETE FROM Items WHERE id = 2")
    conn.execute("DELETE FROM Suppliers WHERE Name = 'Supplier 3'")
    conn.execute("DELETE FROM Purchasers WHERE Name = 'Purchaser 3'")

In [197]:
with create_engine(dburl).connect() as conn:
    items = conn.execute(select(Items))
    suppliers = conn.execute(select(Suppliers))
    supplierPrices = conn.execute(select(SupplierPrices))
    purchasers = conn.execute(select(Purchasers))
    sales = conn.execute(select(Sales))
    orders = conn.execute(select(Orders))
    print("Items")
    for item in items:
        print(item)
    print("Suppliers")
    for supplier in suppliers:
        print(supplier)
    print("Purchasers")
    for purchaser in purchasers:
        print(purchaser)
    print("Sales")
    for sale in sales:
        print(sale)
    print("Orders")
    for order in orders:
        print(order)
        
# Sales & Orders Should have None/NULL for 'Item 2'
# Sales & Orders Should have None/NULL for 'Supplier 3'

Items
(1, 'Item 1', Decimal('5000'), None, 10)
(3, 'Item 3', Decimal('3000'), None, 5)
Suppliers
(1, 'Supplier 1', Decimal('0'))
(2, 'Supplier 2', Decimal('0'))
Purchasers
(1, 'Purchaser 1', Decimal('0'))
(2, 'Purchaser 2', Decimal('0'))
Sales
(1, 1, 1, 3, Decimal('15000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(2, 2, None, 3, Decimal('7500'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(3, 1, 3, 3, Decimal('9000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(4, None, 3, 3, Decimal('9000'), datetime.date(2023, 4, 15), datetime.date(2023, 4, 22), datetime.date(2023, 4, 15), datetime.date(2023, 5, 1), 0)
Orders
(1, 1, 1, 3, Decimal('12000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(2, 2, None, 3, Decimal('6000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(3, 1, 3, 3, Decimal('7200'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(4, None, 3, 3, Decimal('7200'), datetime.date(2023, 4, 15), datetime.date(2023, 4, 22), datetime.date(2023, 4, 15), datetime.date(2023, 4, 29), 0)

### Testing Result
ON DELETE CASCADE working successfully for Item and Supplier deletions in SupplierPrices


ON DELETE SET NULL working successfully for Item, Suppliers, Purchasers deletions in Sales and Orders tables

## Procedure & Trigger Tests

Procedure and Trigger Logic
* Minimum inventory level defeined as "Saftey Stock"
    * Arbitrarily defined as SAFETY_STOCK = 20 and SALE_VELOCITY = 20
    * If Sale will bring inventory below minimum, trigger new order to bring back to Saftey Stock + Expected Sales over a period (SALE_VELOCITY)
    * If Sale quantity > total inventory, immediately order sale quanity from Suppliers and delay ship date until fulfilled

In [410]:
## Business Logic Variables
DAYS_TO_SHIP = 7
DAYS_TO_INVOICE = 0
DAYS_TO_PAY = 14
SAFETY_STOCK = 20
SALE_VELOCITY = 20

In [411]:
## Show Starting Iventories
with create_engine(dburl).connect() as conn:
    # Execute strings here
    results = conn.execute("SELECT MAX(SaleDate) FROM Sales") 
    for result in results:
        print("Last Sale Placed: " , result[0])
    results = conn.execute("SELECT MAX(RecieveDate) FROM Orders") 
    for result in results:
        print("Last Order Recieved: " , result[0])
        
    print("\nInventory at 'current' date:")
    results = conn.execute(inventory_trigger_string, ('2023-05-01',)) 
    for result in results:
        print("ItemID: " , result[0],"Inventory: ", result[1])

Last Sale Placed:  2023-04-15
Last Order Recieved:  2023-04-29

Inventory at 'current' date:
ItemID:  1 Inventory:  57
ItemID:  2 Inventory:  62
ItemID:  3 Inventory:  99

### Test Sale - Inventory Above Minimum
* No orders should be placed
* Should result in inventory of 62 - 15 = 47 of Item 2

In [412]:
with create_engine(dburl).connect() as conn:
    #conn.execute("INSERT INTO Sales(ItemID, PurchaserID, Quantity, SaleDate) VALUES (1,1,20,'2023-05-01');")
    conn.execute("CALL insert_sale(1,2,15,'2023-05-02',%s);", (DAYS_TO_SHIP,))
    
    ## Strange behavior that procedure calls do not work unless followed by additional execute statements
    conn.execute("INSERT INTO Trigger_Table(ItemID, Quantity, SaleDate) VALUES (1, 999, '2023-04-01');")
    conn.execute("DELETE FROM Trigger_Table WHERE Quantity = 999")

In [413]:
with create_engine(dburl).connect() as conn:
    sales = conn.execute(select(Sales))
    orders = conn.execute(select(Orders))
    print("Sales")
    for sale in sales:
        print(sale)
    print("Orders")
    for order in orders:
        print(order)

Sales
(1, 1, 1, 3, Decimal('15000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(2, 2, 2, 3, Decimal('7500'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(3, 1, 3, 3, Decimal('9000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(4, 3, 3, 3, Decimal('9000'), datetime.date(2023, 4, 15), datetime.date(2023, 4, 22), datetime.date(2023, 4, 15), datetime.date(2023, 5, 1), 0)
(5, 1, 2, 15, Decimal('37500'), datetime.date(2023, 5, 2), None, datetime.date(2023, 5, 2), datetime.date(2023, 5, 9), None)
Orders
(1, 1, 1, 50, Decimal('12000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(2, 2, 2, 50, Decimal('6000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(3, 1, 3, 50, Decimal('7200'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(4, 3, 3, 50, Decimal('7200'), datetime.date(2023, 4, 15), datetime.date(2023, 4, 22), datetime.date(2023, 4, 15), datetime.date(2023, 4, 29), 0)

In [414]:
## Show Final Iventories
with create_engine(dburl).connect() as conn:
    # Execute strings here
    results = conn.execute("SELECT MAX(SaleDate) FROM Sales") 
    for result in results:
        print("Last Sale Placed: " , result[0])
    results = conn.execute("SELECT MAX(RecieveDate) FROM Orders") 
    for result in results:
        print("Last Order Recieved: " , result[0])
        
    print("\nInventory at 'current' date:")
    results = conn.execute(inventory_trigger_string, ('2023-5-2',)) 
    for result in results:
        print("ItemID: " , result[0],"Inventory: ",result[1])

Last Sale Placed:  2023-05-02
Last Order Recieved:  2023-04-29

Inventory at 'current' date:
ItemID:  1 Inventory:  57
ItemID:  2 Inventory:  47
ItemID:  3 Inventory:  99

### Test Sale - Inventory Below Minimum
* Sale reducing inventory below 20 should place oder to return inventory to 40

In [415]:
with create_engine(dburl).connect() as conn:
    conn.execute("CALL insert_sale(1,2,35,'2023-05-02',%s);", (DAYS_TO_SHIP,))
    
    ## Strange behavior that procedure calls do not work unless followed by additional execute statements
    conn.execute("INSERT INTO Trigger_Table(ItemID, Quantity, SaleDate) VALUES (1, 999, '2023-04-01');")
    conn.execute("DELETE FROM Trigger_Table WHERE Quantity = 999")

In [416]:
with create_engine(dburl).connect() as conn:
    sales = conn.execute(select(Sales))
    orders = conn.execute(select(Orders))
    print("Sales")
    for sale in sales:
        print(sale)
    print("Orders")
    for order in orders:
        print(order)

Sales
(1, 1, 1, 3, Decimal('15000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(2, 2, 2, 3, Decimal('7500'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(3, 1, 3, 3, Decimal('9000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(4, 3, 3, 3, Decimal('9000'), datetime.date(2023, 4, 15), datetime.date(2023, 4, 22), datetime.date(2023, 4, 15), datetime.date(2023, 5, 1), 0)
(5, 1, 2, 15, Decimal('37500'), datetime.date(2023, 5, 2), None, datetime.date(2023, 5, 2), datetime.date(2023, 5, 9), None)
(6, 1, 2, 35, Decimal('87500'), datetime.date(2023, 5, 2), None, datetime.date(2023, 5, 2), datetime.date(2023, 5, 9), None)
Orders
(1, 1, 1, 50, Decimal('12000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(2, 2, 2, 50, Decimal('6000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(3, 1, 3, 50, Decimal('7200'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(4, 3, 3, 50, Decimal('7200'), datetime.date(2023, 4, 15), datetime.date(2023, 4, 22), datetime.date(2023, 4, 15), datetime.date(2023, 4, 29), 0)
(5, 1, 2, 28, Decimal('140000'), datetime.date(2023, 5, 2), None, datetime.date(2023, 5, 2), datetime.date(2023, 5, 16), 6)

In [417]:
## Show Final Iventories after Order Recieved
with create_engine(dburl).connect() as conn:
    # Execute strings here
    results = conn.execute("SELECT MAX(SaleDate) FROM Sales") 
    for result in results:
        print("Last Sale Placed: " , result[0])
    results = conn.execute("SELECT MAX(RecieveDate) FROM Orders") 
    for result in results:
        print("Last Order Recieved: " , result[0])
        
    print("\nInventory at 'current' date:")
    results = conn.execute(inventory_trigger_string, ('2023-5-17',)) 
    for result in results:
        print("ItemID: " , result[0],"Inventory: ",result[1])

Last Sale Placed:  2023-05-02
Last Order Recieved:  2023-05-16

Inventory at 'current' date:
ItemID:  1 Inventory:  57
ItemID:  2 Inventory:  40
ItemID:  3 Inventory:  99

### Test Sale - Quantity > Inventory
* Sale requiring more items than current inventory should place order for quantity requested
* Ship date of sale should be adjusted to occur after reciept of new order
* Inventory After Order + Sale should be unchanged

In [418]:
with create_engine(dburl).connect() as conn:
    conn.execute("CALL insert_sale(1,2, 100,'2023-5-17',%s);", (DAYS_TO_SHIP,))
    
    ## Strange behavior that procedure calls do not work unless followed by additional execute statements
    conn.execute("INSERT INTO Trigger_Table(ItemID, Quantity, SaleDate) VALUES (1, 999, '2023-04-01');")
    conn.execute("DELETE FROM Trigger_Table WHERE Quantity = 999")

In [419]:
with create_engine(dburl).connect() as conn:
    sales = conn.execute(select(Sales))
    orders = conn.execute(select(Orders))
    print("Sales")
    for sale in sales:
        print(sale)
    print("Orders")
    for order in orders:
        print(order)

Sales
(1, 1, 1, 3, Decimal('15000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(2, 2, 2, 3, Decimal('7500'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(3, 1, 3, 3, Decimal('9000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(4, 3, 3, 3, Decimal('9000'), datetime.date(2023, 4, 15), datetime.date(2023, 4, 22), datetime.date(2023, 4, 15), datetime.date(2023, 5, 1), 0)
(5, 1, 2, 15, Decimal('37500'), datetime.date(2023, 5, 2), None, datetime.date(2023, 5, 2), datetime.date(2023, 5, 9), None)
(6, 1, 2, 35, Decimal('87500'), datetime.date(2023, 5, 2), None, datetime.date(2023, 5, 2), datetime.date(2023, 5, 9), None)
(7, 1, 2, 100, Decimal('250000'), datetime.date(2023, 5, 17), None, datetime.date(2023, 5, 17), datetime.date(2023, 6, 7), None)
Orders
(1, 1, 1, 50, Decimal('12000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(2, 2, 2, 50, Decimal('6000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(3, 1, 3, 50, Decimal('7200'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(4, 3, 3, 50, Decimal('7200'), datetime.date(2023, 4, 15), datetime.date(2023, 4, 22), datetime.date(2023, 4, 15), datetime.date(2023, 4, 29), 0)
(5, 1, 2, 28, Decimal('140000'), datetime.date(2023, 5, 2), None, datetime.date(2023, 5, 2), datetime.date(2023, 5, 16), 6)
(6, 1, 2, 100, Decimal('500000'), datetime.date(2023, 5, 17), None, datetime.date(2023, 5, 17), datetime.date(2023, 5, 31), 999)

In [421]:
## Show Final Iventories after Order Recieved
with create_engine(dburl).connect() as conn:
    # Execute strings here
    results = conn.execute("SELECT MAX(SaleDate) FROM Sales") 
    for result in results:
        print("Last Sale Placed: " , result[0])
    results = conn.execute("SELECT MAX(RecieveDate) FROM Orders") 
    for result in results:
        print("Last Order Recieved: " , result[0])
        
    print("\nInventory at 'current' date:")
    results = conn.execute(inventory_trigger_string, ('2023-6-1',)) 
    for result in results:
        print("ItemID: " , result[0],"Inventory: ",result[1])

Last Sale Placed:  2023-05-17
Last Order Recieved:  2023-05-31

Inventory at 'current' date:
ItemID:  1 Inventory:  57
ItemID:  2 Inventory:  40
ItemID:  3 Inventory:  99