# Wholesaler Database

### Connect to DB

In [246]:
from sqlalchemy import create_engine, inspect, text, insert,Table, Column, Integer, String, Boolean
from sqlalchemy import Numeric, MetaData, ForeignKey, Date, select, func, join,delete
from sqlalchemy.engine import url
import configparser
import os

In [143]:
mysqlcfg = configparser.ConfigParser()
mysqlcfg.read("/home/jovyan/Databases/mysql.cfg")
user, passwd = mysqlcfg['mysql']['user'], mysqlcfg['mysql']['passwd']
dburl = f"mysql://{user}:{passwd}@applied-sql.cs.colorado.edu:3306/matu8568"
os.environ['DATABASE_URL'] = dburl  # define this env. var for sqlmagic
#engine = create_engine(dburl)
print(dburl)

mysql://matu8568:cf985dc2dd76c6f3e86c@applied-sql.cs.colorado.edu:3306/matu8568

In [144]:
# Load the sql magic 
# Get the MySQL version number to verify we are connected
#
%reload_ext sql
print ("get version...")
%sql SELECT version()

get version...
 * mysql://matu8568:***@applied-sql.cs.colorado.edu:3306/matu8568
1 rows affected.

[('8.0.27',)]

In [227]:
with create_engine(dburl).connect() as conn:
    inspector = inspect(conn)
    table_names = inspector.get_table_names()
    print(table_names)

['Class', 'ClassGrade', 'Department', 'Employee', 'Game', 'ParentNotification', 'Play', 'Player', 'Student', 'Team', 'Update', 'bars', 'roads', 'states', 'windmills']

### Create Tables with SQLAlchemy

In [228]:
with create_engine(dburl).connect() as conn:
    metadata_obj = MetaData()
    #### Parameters to Add in Columns ####
    # onupdate="CASCADE", ondelete="CASCADE"
    
    # table level CHECK constraint.  'name' is optional.
    # CheckConstraint("col2 > col3 + 5", name="check1")
    
    Suppliers = Table(
                    "Suppliers",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("Name", String(50)),
                        Column("Balance", Numeric)
                        )

    Items = Table(
                        "Items",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("Name", String(50)),
                        Column("SalePrice", Numeric),
                        Column("ShippingDays", Integer),
                        Column("PriorInventory", Integer)
                        )

    Purchasers = Table(
                        "Purchasers",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("Name", String(50)),
                        Column("Balance", Numeric),
                        )

    SupplierPrices = Table(
                        "SupplierPrices",
                        metadata_obj, 
                        Column("SupplierID", Integer, ForeignKey("Suppliers.id"), primary_key=True),  
                        Column("ItemID", Integer, ForeignKey("Items.id"), primary_key=True),
                        Column("SupplierPrice", Numeric),
                        Column("ShippingDays", Integer),
                        )

    Sales = Table(
                        "Sales",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("PurchaserID", Integer, ForeignKey("Purchasers.id")),
                        Column("ItemID", Integer, ForeignKey("Items.id")),
                        Column("Quantity", Integer),
                        Column("TotalSalePrice", Numeric),
                        Column("InvoiceDate", Date),
                        Column("PayDate", Date),
                        Column("SaleDate", Date),
                        Column("ShipDate", Date),
                        Column("AutoOrder", Integer)
                        )

    Orders = Table(
                        "Orders",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("SupplierID", Integer, ForeignKey("Suppliers.id")),
                        Column("ItemID", Integer, ForeignKey("Items.id")),
                        Column("Quantity", Integer),
                        Column("TotalOrderPrice", Numeric),
                        Column("InvoiceDate", Date),
                        Column("PayDate", Date),
                        Column("OrderDate", Date),
                        Column("RecieveDate", Date),
                        Column("AutoOrder", Integer)
                        )
    
    Trigger_Table = Table(
                    "Trigger_Table",
                    metadata_obj,
                    Column("id", Integer, primary_key=True),
                    Column("ItemID", Integer, ForeignKey("Items.id")),
                    Column("SaleID", Integer, ForeignKey("Sales.id")),
                    Column("OrderID", Integer, ForeignKey("Orders.id")),
                    Column("Quantity", Integer),
                    Column("InvoiceDate", Date),
                    Column("PayDate", Date),
                    Column("OrderDate", Date),
                    Column("RecieveDate", Date),
                    )

    metadata_obj.create_all(conn)

### Insert Data with SQLAlchemy

In [239]:
import pandas as pd
import numpy as np

# Load data from .csv
df_items = pd.read_csv('./data_files/Item_Import.csv')
items_dict = df_items.to_dict('records')
#print(items_dict)

df_sales = pd.read_csv('./data_files/Sales_Import.csv')
sales_dict = df_sales.to_dict('records')
#print(sales_dict)

df_orders = pd.read_csv('./data_files/Order_Import.csv')
orders_dict = df_orders.to_dict('records')
#print(orders_dict)

df_orders.head()

,SupplierID,ItemID,Quantity,TotalOrderPrice,InvoiceDate,PayDate,OrderDate,RecieveDate,AutoOrder
0,1,1,3,12000,2023-04-01,2023-04-08,2023-04-01,2023-04-15,0
1,1,2,3,6000,2023-04-01,2023-04-08,2023-04-01,2023-04-15,0
2,1,3,3,7200,2023-04-01,2023-04-08,2023-04-01,2023-04-15,0
3,1,3,3,7200,2023-04-15,2023-04-22,2023-04-15,2023-04-29,0

In [240]:


# Will read from csv for final data load
suppliers_lst = np.array([('Supplier 1', 0), ('Supplier 2', 0), ('Supplier 3', 0)],dtype=[('Name','U50'),('Balance',float)])
# items_lst = np.array([('Item 1', 5000, 0),('Item 2', 2500, 0), ('Item 3', 5000, 0)],dtype=[('Name','U50'),('SalePrice',float),('PriorInventory',int)])
purchasers_lst = np.array([('Purchaser 1', 0), ('Purchaser 2', 0), ('Purchaser 3', 0)],dtype=[('Name','U50'),('Balance',float)])

df_suppliers = pd.DataFrame.from_records(suppliers_lst)
suppliers_dict = df_suppliers.to_dict('records') #can change which way output is converted to dict with input field i.e. 'records' vs 'list'

df_purchasers = pd.DataFrame.from_records(purchasers_lst)
purchasers_dict = df_purchasers.to_dict('records')

In [241]:
with create_engine(dburl).connect() as conn:
    result = conn.execute(insert(Suppliers),suppliers_dict)
    result2 = conn.execute(insert(Items),items_dict)
    result3 = conn.execute(insert(Purchasers),purchasers_dict)
    result4 = conn.execute(insert(Sales),sales_dict)
    result5 = conn.execute(insert(Orders),orders_dict)

### Display Table Contents

In [261]:
with create_engine(dburl).connect() as conn:
    items = conn.execute(select(Items))
    suppliers = conn.execute(select(Suppliers))
    supplierPrices = conn.execute(select(SupplierPrices))
    purchasers = conn.execute(select(Purchasers))
    sales = conn.execute(select(Sales))
    orders = conn.execute(select(Orders))
    tt = conn.execute(select(Trigger_Table))
    print("Items")
    for item in items:
        print(item)
    print("Suppliers")
    for supplier in suppliers:
        print(supplier)
    print("SupplierPrices")
    for supplierPrice in supplierPrices:
        print(supplierPrice)
    print("Purchasers")
    for purchaser in purchasers:
        print(purchaser)
    print("Sales")
    for sale in sales:
        print(sale)
    print("Orders")
    for order in orders:
        print(order)
    print("Trigger_Table")
    for trigger in tt:
        print(trigger)

Items
(1, 'Item 1', Decimal('5000'), None, 10)
(2, 'Item 2', Decimal('2500'), None, 15)
(3, 'Item 3', Decimal('3000'), None, 5)
(4, 'Item 1', Decimal('5000'), None, 10)
(5, 'Item 2', Decimal('2500'), None, 15)
(6, 'Item 3', Decimal('3000'), None, 5)
(7, 'Item 1', Decimal('5000'), None, 10)
(8, 'Item 2', Decimal('2500'), None, 15)
(9, 'Item 3', Decimal('3000'), None, 5)
Suppliers
(1, 'Supplier 1', Decimal('0'))
(2, 'Supplier 2', Decimal('0'))
(3, 'Supplier 3', Decimal('0'))
(4, 'Supplier 1', Decimal('0'))
(5, 'Supplier 2', Decimal('0'))
(6, 'Supplier 3', Decimal('0'))
(7, 'Supplier 1', Decimal('0'))
(8, 'Supplier 2', Decimal('0'))
(9, 'Supplier 3', Decimal('0'))
SupplierPrices
Purchasers
(1, 'Purchaser 1', Decimal('0'))
(2, 'Purchaser 2', Decimal('0'))
(3, 'Purchaser 3', Decimal('0'))
(4, 'Purchaser 1', Decimal('0'))
(5, 'Purchaser 2', Decimal('0'))
(6, 'Purchaser 3', Decimal('0'))
(7, 'Purchaser 1', Decimal('0'))
(8, 'Purchaser 2', Decimal('0'))
(9, 'Purchaser 3', Decimal('0'))
Sales
(1, 1, 1, 3, Decimal('15000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(2, 1, 2, 3, Decimal('7500'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(3, 1, 3, 3, Decimal('9000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(4, 1, 3, 3, Decimal('9000'), datetime.date(2023, 4, 15), datetime.date(2023, 4, 22), datetime.date(2023, 4, 15), datetime.date(2023, 4, 29), 0)
(5, 1, 1, 3, Decimal('15000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(6, 1, 2, 3, Decimal('7500'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(7, 1, 3, 3, Decimal('9000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(8, 1, 3, 3, Decimal('9000'), datetime.date(2023, 4, 15), datetime.date(2023, 4, 22), datetime.date(2023, 4, 15), datetime.date(2023, 4, 29), 0)
(9, None, 3, 50, None, None, None, datetime.date(2023, 5, 1), None, None)
Orders
(1, 1, 1, 3, Decimal('12000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(2, 1, 2, 3, Decimal('6000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(3, 1, 3, 3, Decimal('7200'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15), 0)
(4, 1, 3, 3, Decimal('7200'), datetime.date(2023, 4, 15), datetime.date(2023, 4, 22), datetime.date(2023, 4, 15), datetime.date(2023, 4, 29), 0)
(5, None, 3, 50, None, None, None, datetime.date(2023, 5, 1), None, 9)
Trigger_Table
(1, 3, None, None, 5, None, None, None, None)
(2, 3, None, None, 999, None, None, None, None)

### Drop Tables if Needed

In [225]:
drop_table_string = '''
                    SET foreign_key_checks = 0;
                    DROP TABLE IF EXISTS Suppliers;
                    DROP TABLE IF EXISTS Items;
                    DROP TABLE IF EXISTS Purchasers;
                    DROP TABLE IF EXISTS SupplierPrices;
                    DROP TABLE IF EXISTS Sales;
                    DROP TABLE IF EXISTS Orders;
                    DROP TABLE IF EXISTS Trigger_Table;
                    SET foreign_key_checks = 1;
                    '''

In [226]:
with create_engine(dburl).connect() as conn:
    # Execute strings here
    conn.execute(drop_table_string)

### CREATE TRIGGERS

Inventory Triggers

* Trigger Order if Quantity > Inventory in new Sale (Update Sale with ShipDate based on New Order)
* Trigger Order if Inventory after new Sale < Safety Stock + Sale Velocity OR at regular dates

Sale Triggers

* Update Sale after insert based on item parameters (TotalPrice = Price * Quant, ShipDate = OrderDate + time)
* Update Purchaser Balance after Sale Insert
* Update Purchaser Balance after Sale Update with PayDate
* Trigger to block new Sale from Purchaser with negative balance && OrderDate > InvoiceDate of last purchase

Order Triggers

* Update Order after insert baed on SupplierPrices parameters
* Update Supplier Balance after Order Insert
* Update Supplier Balance after Order Update including PayDate

In [50]:
test_procedure_string = '''
                            CREATE PROCEDURE test_procedure(selectItemID INT)
                                BEGIN
                                    UPDATE Sales SET ItemID = selectItemID Where ItemID = selectItemID;
                                END
                        '''
# no_inventory_procedure_string = '''
#                                     CREATE PROCEDURE no_inventory_procedure(newID INT, newItemID INT, newQuantity INT, newSaleDate DATE)

#                                         INSERT INTO Orders(ItemID, Quantity, OrderDate) VALUES (newItemID, newQuantity, newSaleDate);
#                                 '''
with create_engine(dburl).connect() as conn:
    # Execute strings here
    conn.execute("DROP PROCEDURE IF EXISTS test_procedure;")
    conn.execute(test_procedure_string)

In [42]:
no_inventory_procedure_string = '''
                                    CREATE PROCEDURE no_inventory_procedure(newID INT, newItemID INT, newQuantity INT, newSaleDate DATE)
                                        BEGIN
                                        INSERT INTO Orders(ItemID, Quantity, OrderDate) VALUES (newItemID, newQuantity, newSaleDate);
                                        UPDATE Sales SET ShipDate = (SELECT RecieveDate 
                                                                        FROM Orders 
                                                                        WHERE (ItemID = newitemID AND 
                                                                                Quantity = newQuantity AND 
                                                                                OrderDate = newSaleDate))
                                                      WHERE id = newID;
                                        END;
                                '''
# no_inventory_procedure_string = '''
#                                     CREATE PROCEDURE no_inventory_procedure(newID INT, newItemID INT, newQuantity INT, newSaleDate DATE)

#                                         INSERT INTO Orders(ItemID, Quantity, OrderDate) VALUES (newItemID, newQuantity, newSaleDate);
#                                 '''
with create_engine(dburl).connect() as conn:
    # Execute strings here
    conn.execute("DROP PROCEDURE IF EXISTS no_inventory_procedure;")
    conn.execute(no_inventory_procedure_string)
    # procedures = conn.execute("SELECT `name` FROM mysql.proc WHERE `type` = 'PROCEDURE';")
    # for procedure in procedures:
    #     print(procedures)

In [283]:
# This needs to also update the shipdate of the sale to after the recievedate of the new order
# Cant modify table that trigger is called on with MySQL, will work in other SQL flavors
# Using Additional Trigger_Table to put intermediate results instead
no_inventory_trigger_string = '''
                        CREATE TRIGGER no_inventory_trigger
                        AFTER INSERT ON Sales
                        FOR EACH ROW
                        BEGIN
                            IF NEW.Quantity > (SELECT SUM(Items.PriorInventory + ItemQuant.NetInv)
                                                FROM Items
                                                JOIN (SELECT Sales.ItemID, SUM(Orders.Quantity - Sales.Quantity) as NetInv
                                                        FROM Sales
                                                        JOIN Orders ON Sales.ItemID = Orders.ItemID
                                                        GROUP BY Sales.ItemID) as ItemQuant
                                                ON Items.id = ItemQuant.ItemID
                                                WHERE Items.id = 3)
                                THEN 
                                    BEGIN
                                        INSERT INTO Orders(ItemID, Quantity, OrderDate, AutoOrder) VALUES (NEW.ItemID, NEW.Quantity, NEW.SaleDate, NEW.id);
                                        INSERT INTO Trigger_Table(ItemID, SaleID, Quantity, SaleDate) VALUES (NEW.ItemID, NEW.id, NEW.Quantity, NEW.SaleDate);

                                    END;
                                
                            END IF;
                        END;
                      '''


with create_engine(dburl).connect() as conn:
    # Execute strings here
    # CALL no_inventory_procedure(NEW.id,NEW.ItemID, NEW.Quantity, NEW.SaleDate);
    conn.execute("DROP TRIGGER IF EXISTS no_inventory_trigger;")
    conn.execute(no_inventory_trigger_string)

In [300]:
# Insert Order Trigger - Update fields from Item/Purchaser Table on Sale Insert
update_order_info_trigger_string = '''
                        CREATE TRIGGER update_order_info
                        AFTER INSERT ON Trigger_Table
                        FOR EACH ROW
                        BEGIN
                                UPDATE Orders SET SupplierID = (SELECT SupplierID 
                                                                FROM SupplierPrices
                                                                WHERE SupplierPrice = (SELECT MIN(SupplierPrice)
                                                                                        FROM SupplierPrices
                                                                                        WHERE ItemID = 1
                                                                                        GROUP BY ItemID)
                                                                LIMIT 1), 
                                                    TotalOrderPrice =  Quantity * (SELECT MIN(SupplierPrice)
                                                                                        FROM SupplierPrices
                                                                                        WHERE ItemID = NEW.ItemID
                                                                                        GROUP BY ItemID);
                                INSERT INTO Sales(ItemID, SaleID, Quantity) VALUES (NEW.ItemID, NEW.SaleID, NEW.Quantity);
                        END;
                      '''
## NEED TO ADD LOGIC FOR NO INVENTORY TRIGGERED ORDERS

with create_engine(dburl).connect() as conn:
    # Execute strings here
    conn.execute("DROP TRIGGER IF EXISTS update_order_info;")
    conn.execute(update_order_info_trigger_string)

In [ ]:
# Inset Sale Trigger - Update fields from Item/Purchaser Table on Sale Insert
update_sale_info_trigger_string = '''
                        CREATE TRIGGER update_sale_info
                        AFTER INSERT ON Sales
                        FOR EACH ROW
                        BEGIN
                            IF NEW.Quantity > (SELECT SUM(Items.PriorInventory + ItemQuant.NetInv)
                                                FROM Items
                                                JOIN (SELECT Sales.ItemID, SUM(Orders.Quantity - Sales.Quantity) as NetInv
                                                        FROM Sales
                                                        JOIN Orders ON Sales.ItemID = Orders.ItemID
                                                        GROUP BY Sales.ItemID) as ItemQuant
                                                ON Items.id = ItemQuant.ItemID
                                                WHERE Items.id = 3)
                                THEN INSERT INTO Orders(ItemID, Quantity, OrderDate) VALUES (NEW.ItemID, NEW.Quantity, NEW.SaleDate);
                            END IF;
                        END;
                      '''
with create_engine(dburl).connect() as conn:
    # Execute strings here
    conn.execute(update_sale_info_trigger_string)

### Insert Statements

In [250]:

with create_engine(dburl).connect() as conn:
    # Execute strings here
    #conn.execute("CALL test_procedure(3)")
    conn.execute("INSERT INTO Sales(ItemID, Quantity, SaleDate) VALUES (3, 50, '2023-05-01')")
    #conn.execute("INSERT INTO Orders(ItemID, Quantity, OrderDate) VALUES (3, 50, '2022-05-01')")
    #conn.execute("INSERT INTO Trigger_Table(ItemID, Quantity) VALUES (3,5)")

In [211]:
with create_engine(dburl).connect() as conn:
    # Get Latest Inventory PriorInventory + Orders - Sales
    query = select(Items.c.Name, func.sum(Items.c.PriorInventory )) \
                                        .select_from(Items.join(Sales.join(Orders, Sales.c.ItemID == Orders.c.ItemID) \
                                                    .group_by(Sales.c.ItemID))).where(Items.c.id==3) #group_by(Items.c.id)
    
    results = conn.execute(query).fetchall()
    # columns = conn.execute(query)._metadata.keys
    for result in results:
        print(result)

AttributeError: 'Join' object has no attribute 'group_by'

In [209]:
inventory_trigger_string = '''
                            SELECT SUM(Items.PriorInventory + ItemQuant.NetInv)
                            FROM Items
                            JOIN (SELECT Sales.ItemID, SUM(Orders.Quantity - Sales.Quantity) as NetInv
                                    FROM Sales
                                    JOIN Orders ON Sales.ItemID = Orders.ItemID
                                    GROUP BY Sales.ItemID) as ItemQuant
                            ON Items.id = ItemQuant.ItemID
                            WHERE Items.id = 3
                           '''
with create_engine(dburl).connect() as conn:
    # Execute strings here
    results = conn.execute(inventory_trigger_string)
    for result in results:
        print(result)

(Decimal('5'),)

In [273]:
min_price_string = '''
                            SELECT ItemID, MIN(SupplierPrice)
                            FROM SupplierPrices
                            WHERE ItemID = 1
                            GROUP BY ItemID
                            
                           '''

min_price_supplier_string = '''
                            SELECT SupplierID 
                            FROM SupplierPrices
                            WHERE SupplierPrice = (SELECT MIN(SupplierPrice)
                                                    FROM SupplierPrices
                                                    WHERE ItemID = 1
                                                    GROUP BY ItemID)
                            LIMIT 1
                           '''
with create_engine(dburl).connect() as conn:
    # Execute strings here
    #conn.execute("INSERT INTO SupplierPrices VALUES (1,1,2000,14),(2,1,2200,14),(3,1,2000,14), (1,2,5000,14)")
    results = conn.execute(min_price_string)
    for result in results:
        print(result)
    results = conn.execute(min_price_supplier_string)
    for result in results:
        print(result)

(1, Decimal('2000'))
(1,)