# Wholesaler Database

### Connect to DB

In [2]:
from sqlalchemy import create_engine, inspect, text, insert,Table, Column, Integer, String
from sqlalchemy import Numeric, MetaData, ForeignKey, Date, select, func, join
from sqlalchemy.engine import url
import configparser
import os

In [3]:
mysqlcfg = configparser.ConfigParser()
mysqlcfg.read("/home/jovyan/Databases/mysql.cfg")
user, passwd = mysqlcfg['mysql']['user'], mysqlcfg['mysql']['passwd']
dburl = f"mysql://{user}:{passwd}@applied-sql.cs.colorado.edu:3306/matu8568"
os.environ['DATABASE_URL'] = dburl  # define this env. var for sqlmagic
#engine = create_engine(dburl)

In [4]:
with create_engine(dburl).connect() as conn:
    inspector = inspect(conn)
    table_names = inspector.get_table_names()
    print(table_names)

['Class', 'ClassGrade', 'Department', 'Employee', 'Game', 'Items', 'Orders', 'ParentNotification', 'Play', 'Player', 'Purchasers', 'Sales', 'Student', 'SupplierPrices', 'Suppliers', 'Team', 'bars', 'roads', 'states', 'windmills']

### Create Tables with SQLAlchemy

In [12]:
with create_engine(dburl).connect() as conn:
    metadata_obj = MetaData()
    #### Parameters to Add in Columns ####
    # onupdate="CASCADE", ondelete="CASCADE"
    
    # table level CHECK constraint.  'name' is optional.
    # CheckConstraint("col2 > col3 + 5", name="check1")
    
    Suppliers = Table(
                    "Suppliers",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("Name", String(50)),
                        Column("Balance", Numeric)
                        )

    Items = Table(
                        "Items",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("Name", String(50)),
                        Column("SalePrice", Numeric),
                        Column("ShippingDays", Integer),
                        Column("PriorInventory", Integer)
                        )

    Purchasers = Table(
                        "Purchasers",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("Name", String(50)),
                        Column("Balance", Numeric),
                        )

    SupplierPrices = Table(
                        "SupplierPrices",
                        metadata_obj, 
                        Column("SupplierID", Integer, ForeignKey("Suppliers.id"), primary_key=True),  
                        Column("ItemID", Integer, ForeignKey("Items.id"), primary_key=True),
                        Column("SupplierPrice", Numeric),
                        Column("ShippingDays", Integer),
                        )

    Sales = Table(
                        "Sales",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("PurchaserID", Integer, ForeignKey("Purchasers.id")),
                        Column("ItemID", Integer, ForeignKey("Items.id")),
                        Column("Quantity", Integer),
                        Column("TotalSalePrice", Numeric),
                        Column("InvoiceDate", Date),
                        Column("PayDate", Date),
                        Column("SaleDate", Date),
                        Column("ShipDate", Date)
                        )

    Orders = Table(
                        "Orders",
                        metadata_obj,
                        Column("id", Integer, primary_key=True),
                        Column("SupplierID", Integer, ForeignKey("Suppliers.id")),
                        Column("ItemID", Integer, ForeignKey("Items.id")),
                        Column("Quantity", Integer),
                        Column("TotalOrderPrice", Numeric),
                        Column("InvoiceDate", Date),
                        Column("PayDate", Date),
                        Column("OrderDate", Date),
                        Column("RecieveDate", Date)
                        )

    metadata_obj.create_all(conn)

### Insert Data with SQLAlchemy

In [13]:
import pandas as pd
import numpy as np

# Load data from .csv
df_items = pd.read_csv('./data_files/Item_Import.csv')
items_dict = df_items.to_dict('records')
#print(items_dict)

df_sales = pd.read_csv('./data_files/Sales_Import.csv')
sales_dict = df_sales.to_dict('records')
#print(sales_dict)

df_orders = pd.read_csv('./data_files/Order_Import.csv')
orders_dict = df_orders.to_dict('records')
#print(orders_dict)

df_items.head()

     Name  SalePrice  PriorInventory
0  Item 1       5000              10
1  Item 2       2500              15
2  Item 3       3000               5

In [14]:


# Will read from csv for final data load
suppliers_lst = np.array([('Supplier 1', 0), ('Supplier 2', 0), ('Supplier 3', 0)],dtype=[('Name','U50'),('Balance',float)])
# items_lst = np.array([('Item 1', 5000, 0),('Item 2', 2500, 0), ('Item 3', 5000, 0)],dtype=[('Name','U50'),('SalePrice',float),('PriorInventory',int)])
purchasers_lst = np.array([('Purchaser 1', 0), ('Purchaser 2', 0), ('Purchaser 3', 0)],dtype=[('Name','U50'),('Balance',float)])

df_suppliers = pd.DataFrame.from_records(suppliers_lst)
suppliers_dict = df_suppliers.to_dict('records') #can change which way output is converted to dict with input field i.e. 'records' vs 'list'

df_purchasers = pd.DataFrame.from_records(purchasers_lst)
purchasers_dict = df_purchasers.to_dict('records')

In [15]:
with create_engine(dburl).connect() as conn:
    result = conn.execute(insert(Suppliers),suppliers_dict)

In [16]:
with create_engine(dburl).connect() as conn:
    result2 = conn.execute(insert(Items),items_dict)
    result3 = conn.execute(insert(Purchasers),purchasers_dict)

In [17]:
with create_engine(dburl).connect() as conn:
    result4 = conn.execute(insert(Sales),sales_dict)
    result5 = conn.execute(insert(Orders),orders_dict)

### Display Table Contents

In [22]:
with create_engine(dburl).connect() as conn:
    items = conn.execute(select(Items))
    suppliers = conn.execute(select(Suppliers))
    purchasers = conn.execute(select(Purchasers))
    sales = conn.execute(select(Sales))
    orders = conn.execute(select(Orders))
    print("Items")
    for item in items:
        print(item)
    print("Suppliers")
    for supplier in suppliers:
        print(supplier)
    print("Purchasers")
    for purchaser in purchasers:
        print(purchaser)
    print("Sales")
    for sale in sales:
        print(sale)
    print("Orders")
    for order in orders:
        print(order)

Items
(1, 'Item 1', Decimal('5000'), None, 10)
(2, 'Item 2', Decimal('2500'), None, 15)
(3, 'Item 3', Decimal('3000'), None, 5)
Suppliers
(1, 'Supplier 1', Decimal('0'))
(2, 'Supplier 2', Decimal('0'))
(3, 'Supplier 3', Decimal('0'))
Purchasers
(1, 'Purchaser 1', Decimal('0'))
(2, 'Purchaser 2', Decimal('0'))
(3, 'Purchaser 3', Decimal('0'))
Sales
(1, 1, 1, 3, Decimal('15000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15))
(2, 1, 2, 3, Decimal('7500'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15))
(3, 1, 3, 3, Decimal('9000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15))
(4, 1, 3, 3, Decimal('9000'), datetime.date(2023, 4, 15), datetime.date(2023, 4, 22), datetime.date(2023, 4, 15), datetime.date(2023, 4, 29))
(5, None, 3, 50, None, None, None, datetime.date(2023, 5, 1), None)
Orders
(1, 1, 1, 3, Decimal('12000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15))
(2, 1, 2, 3, Decimal('6000'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15))
(3, 1, 3, 3, Decimal('7200'), datetime.date(2023, 4, 1), datetime.date(2023, 4, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 15))
(4, 1, 3, 3, Decimal('7200'), datetime.date(2023, 4, 15), datetime.date(2023, 4, 22), datetime.date(2023, 4, 15), datetime.date(2023, 4, 29))
(5, None, 3, 50, None, None, None, datetime.date(2023, 5, 1), None)

### Drop Tables if Needed

In [10]:
drop_table_string = '''
                    SET foreign_key_checks = 0;
                    DROP TABLE IF EXISTS Suppliers;
                    DROP TABLE IF EXISTS Items;
                    DROP TABLE IF EXISTS Purchasers;
                    DROP TABLE IF EXISTS SupplierPrices;
                    DROP TABLE IF EXISTS Sales;
                    DROP TABLE IF EXISTS Orders;
                    SET foreign_key_checks = 1;
                    '''

In [11]:
with create_engine(dburl).connect() as conn:
    # Execute strings here
    conn.execute(drop_table_string)

### CREATE TRIGGERS

Inventory Triggers

* Trigger Order if Quantity > Inventory in new Sale (Update Sale with ShipDate based on New Order)
* Trigger Order if Inventory after new Sale < Buffer Stock + Sale Velocity

Sale Triggers

* Update Sale after insert based on item parameters (TotalPrice = Price * Quant, ShipDate = OrderDate + time)
* Update Purchaser Balance after Sale Insert
* Update Purchaser Balance after Sale Update with PayDate
* Trigger to block new Sale from Purchaser with negative balance && OrderDate > InvoiceDate of last purchase

Order Triggers

* Update Order after insert baed on SupplierPrices parameters
* Update Supplier Balance after Order Insert
* Update Supplier Balance after Order Update including PayDate

In [26]:
# This needs to also update the shipdate of the sale to after the recievedate of the new order
sale_trigger_string = '''
                        CREATE TRIGGER create_order
                        BEFORE INSERT ON Sales
                        FOR EACH ROW
                        BEGIN
                            IF NEW.Quantity > (SELECT SUM(Items.PriorInventory + ItemQuant.NetInv)
                                                FROM Items
                                                JOIN (SELECT Sales.ItemID, SUM(Orders.Quantity - Sales.Quantity) as NetInv
                                                        FROM Sales
                                                        JOIN Orders ON Sales.ItemID = Orders.ItemID
                                                        GROUP BY Sales.ItemID) as ItemQuant
                                                ON Items.id = ItemQuant.ItemID
                                                WHERE Items.id = 3)
                                THEN INSERT INTO Orders(ItemID, Quantity, OrderDate) VALUES (NEW.ItemID, NEW.Quantity, NEW.SaleDate);
                            END IF;
                        END;
                      '''
with create_engine(dburl).connect() as conn:
    # Execute strings here
    conn.execute("DROP TRIGGER IF EXISTS create_order;")
    conn.execute(sale_trigger_string)

In [ ]:
# Placeholder Cell
sale_trigger_string = '''
                        CREATE TRIGGER create_order
                        AFTER INSERT ON Sales
                        FOR EACH ROW
                        BEGIN
                            IF NEW.Quantity > (SELECT SUM(Items.PriorInventory + ItemQuant.NetInv)
                                                FROM Items
                                                JOIN (SELECT Sales.ItemID, SUM(Orders.Quantity - Sales.Quantity) as NetInv
                                                        FROM Sales
                                                        JOIN Orders ON Sales.ItemID = Orders.ItemID
                                                        GROUP BY Sales.ItemID) as ItemQuant
                                                ON Items.id = ItemQuant.ItemID
                                                WHERE Items.id = 3)
                                THEN INSERT INTO Orders(ItemID, Quantity, OrderDate) VALUES (NEW.ItemID, NEW.Quantity, NEW.SaleDate);
                            END IF;
                        END;
                      '''
with create_engine(dburl).connect() as conn:
    # Execute strings here
    conn.execute(sale_trigger_string)

In [21]:
with create_engine(dburl).connect() as conn:
    # Execute strings here
    conn.execute("INSERT INTO Sales(ItemID, Quantity, SaleDate) VALUES (3, 50, '2023-05-01')")

In [211]:
with create_engine(dburl).connect() as conn:
    # Get Latest Inventory PriorInventory + Orders - Sales
    query = select(Items.c.Name, func.sum(Items.c.PriorInventory )) \
                                        .select_from(Items.join(Sales.join(Orders, Sales.c.ItemID == Orders.c.ItemID) \
                                                    .group_by(Sales.c.ItemID))).where(Items.c.id==3) #group_by(Items.c.id)
    
    results = conn.execute(query).fetchall()
    # columns = conn.execute(query)._metadata.keys
    for result in results:
        print(result)

AttributeError: 'Join' object has no attribute 'group_by'

In [209]:
inventory_trigger_string = '''
                            SELECT SUM(Items.PriorInventory + ItemQuant.NetInv)
                            FROM Items
                            JOIN (SELECT Sales.ItemID, SUM(Orders.Quantity - Sales.Quantity) as NetInv
                                    FROM Sales
                                    JOIN Orders ON Sales.ItemID = Orders.ItemID
                                    GROUP BY Sales.ItemID) as ItemQuant
                            ON Items.id = ItemQuant.ItemID
                            WHERE Items.id = 3
                           '''
with create_engine(dburl).connect() as conn:
    # Execute strings here
    results = conn.execute(inventory_trigger_string)
    for result in results:
        print(result)

(Decimal('5'),)